.ConferenceCommittee__advisoryheading {
    text-align: center;
}

.ConferenceCommittee__items {
    margin-left: 155px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,auto);
}

.ConferenceCommittee__item {
    h5 {
        font-size: 20px;
    }
}

.ConferenceComittee__grid {
    display: grid;
    grid-template-columns: repeat(3,auto);

    
}

.ConferenceComittee__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
        width: 50%;
    }
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #fff;
    }
}