.accordion {
    margin: 40px 30px 50px 0;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #E8F9FD;
  }
  
  .accordion-title:hover {
    background-color: #e7f1fd;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #E8F9FD;
  }