.imp_details_root{
    width: 30vw;
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 16px;
    height: 100%;
}

.imp_details_section{
    margin: 0px 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.imp_details_section_head{
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
    color: #106eea;
    letter-spacing: 2px;
}

.imp_dates{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.imp_dates_item{
    margin: 8px 0px;
}