.header-root{
    width: 100vw;
    background-color: #034170;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-main{
    background-color: #034170;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    /* border: 2px solid black; */
    font-size: 15px;
}

.header-logo {
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 50%;
}

.header-list{
    list-style: none;
    display: flex;
    width: 100%;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.header-list-item{
    /* border: 1px solid white; */
    padding: 0.5rem 1rem;
    color: white;
    font-size: 20px;
}

.header-list-item a {
    color: white;
    text-decoration: none;
    
}

.bars{
    display: none;
    /* color: white; */
    align-self: flex-end;
    justify-self: center;
    padding: 1rem;
}



.header-list-item:hover{
    background-color: #012947;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .bars{
        display: block;
        top: 0;
        right: 0;
        position: absolute;
        font-size: 1.5rem;
        cursor: pointer;
        padding: 1rem 2rem;
        align-self: flex-end;
        justify-self: center;
        padding: 1rem;
    }

    .header-list-ham{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        list-style: none;
        
    }

    .header-list-item-ham{
        list-style: none;

    }
}