.paper-navbar__main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;

    .paper-navbar__item {
        cursor: pointer;
        margin: 5px 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        .paper-navbar__subpart {
            display: none;
            position: absolute;
            top: 50px;
            width: 20vw;
            z-index: 50;
            font-size: medium;
            background-color: #bae6fd;
            border-radius: 10px;
            padding-top: 20px;
            
            p {
                text-align: center;
                padding: 3px 0;

                &:hover {
                    background-color: #38bdf8;
                    opacity: 80%;
                    cursor: pointer;
                }
            }
        }
        
        .paper-navbar__title {
            text-align: center;
            font-weight: 400;
            font-size: medium;
        }

        &:hover {
            
            .paper-navbar__subpart {
                display: block;
            }
        }
    }    
}