.footer_root{

}

.footer_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e7f1fd;
    padding: 10px;
}

.footer_college_info{
    display: flex;
    flex-direction: column;
}

.footer_copyright{
    text-align: center;
    font-weight: bold;
    margin: 0px;
    background-color: #f6f9fe;
    padding: 10px 0px;
}

